<div class="p-6 bg-gray-800 rounded-lg">
    <h2 class="text-2xl font-semibold text-gray-200 mb-4">Añadir Ubicación</h2>

    <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">

        <div class="mb-4">
            <label class="block text-gray-400 mb-1">Nombre de Ubicación</label>
            <input type="text" formControlName="name"
                class="w-full p-2 rounded bg-gray-700 text-gray-200 border border-gray-600 focus:outline-none focus:border-blue-500"
                placeholder="Ingresa el nombre de la ubicación">

            <div *ngIf="locationForm.get('name')?.invalid && locationForm.get('name')?.touched"
                class="text-red-500 mt-1 text-sm">
                <span *ngIf="locationForm.get('name')?.errors?.['required']">
                    El nombre de la ubicación no puede estar vacío.
                </span>
                <span *ngIf="locationForm.get('name')?.errors?.['pattern']">
                    El nombre de la ubicación debe incluir al menos una mayúscula, y solo puede contener letras.
                </span>
            </div>
        </div>

        <button type="submit" [ngClass]="{
          'bg-green-700 hover:bg-green-800': locationForm.valid,
          'bg-gray-700 cursor-not-allowed': locationForm.invalid
        }" class="w-full py-2 mt-4 text-white font-semibold rounded transition-colors"
            [disabled]="locationForm.invalid">
            Añadir Ubicación
        </button>

    </form>
</div>