<div class="p-6 bg-gray-800 rounded-lg">
    <h2 class="text-2xl font-semibold text-gray-200 mb-4">Añadir Ciudad</h2>

    <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">

        <div class="mb-4">
            <label class="block text-gray-400 mb-1">Nombre de Ciudad</label>
            <input type="text" formControlName="name"
                class="w-full p-2 rounded bg-gray-700 text-gray-200 border border-gray-600 focus:outline-none focus:border-blue-500"
                placeholder="Ingresa el nombre de la ciudad">

            <div *ngIf="cityForm.get('name')?.invalid && cityForm.get('name')?.touched"
                class="text-red-500 mt-1 text-sm">
                <span *ngIf="cityForm.get('name')?.errors?.['required']">El nombre de la ciudad es obligatorio.</span>
                <span *ngIf="cityForm.get('name')?.errors?.['minlength']">Debe tener al menos 3 caracteres.</span>
                <span *ngIf="cityForm.get('name')?.errors?.['maxlength']">No puede exceder los 50 caracteres.</span>
                <span *ngIf="cityForm.get('name')?.errors?.['pattern']">Solo se permiten letras y espacios.</span>
            </div>
        </div>

        <button type="submit" [ngClass]="{
          'bg-green-700 hover:bg-green-800': cityForm.valid,
          'bg-gray-700 cursor-not-allowed': cityForm.invalid
        }" class="w-full py-2 mt-4 text-white font-semibold rounded transition-colors" [disabled]="cityForm.invalid">
            Añadir Ciudad
        </button>

    </form>
</div>