<div class="p-6 bg-gray-800 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold text-gray-200 mb-4">
      {{ selectedCommerce ? 'Editar Comercio' : 'Añadir Comercio' }}
    </h2>
    
    <form [formGroup]="commerceForm" (ngSubmit)="onSubmit()" class="space-y-4">
  
      <!-- Campo Nombre -->
      <div class="mb-4">
        <label for="name" class="block text-gray-400 text-sm font-bold mb-2">Nombre de Comercio</label>
        <input id="name" formControlName="name" type="text" placeholder="Introduce el nombre del comercio"
               class="w-full px-4 py-2 bg-gray-800 text-gray-200 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-500" />
        <div *ngIf="commerceForm.get('name')?.invalid && (commerceForm.get('name')?.dirty || commerceForm.get('name')?.touched)" class="text-red-500 text-sm mt-1">
          <span *ngIf="commerceForm.get('name')?.errors?.['required']">{{ 'El nombre del comercio no puede ser nulo o vacío' }}</span>
          <span *ngIf="commerceForm.get('name')?.errors?.['pattern']">{{ 'El nombre del comercio debe incluir al menos una mayúscula, y solo puede contener letras y números.' }}</span>
        </div>
      </div>
  
      <!-- Campo NIT -->
      <div class="mb-4">
        <label for="nit" class="block text-gray-400 text-sm font-bold mb-2">NIT</label>
        <input id="nit" formControlName="nit" type="text" maxlength="12" placeholder="Introduce el NIT del comercio"
               class="w-full px-4 py-2 bg-gray-800 text-gray-200 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-500" />
        <div *ngIf="commerceForm.get('nit')?.invalid && (commerceForm.get('nit')?.dirty || commerceForm.get('nit')?.touched)" class="text-red-500 text-sm mt-1">
          <span *ngIf="commerceForm.get('nit')?.errors?.['required']">{{ 'El NIT del comercio no puede ser nulo o vacío' }}</span>
          <span *ngIf="commerceForm.get('nit')?.errors?.['pattern']">{{ 'El NIT del comercio no es válido' }}</span>
        </div>
      </div>
  
      <!-- Campo Correo Electrónico -->
      <div class="mb-4">
        <label for="email" class="block text-gray-400 text-sm font-bold mb-2">Correo Electrónico</label>
        <input id="email" formControlName="email" type="email" placeholder="Introduce el correo electrónico"
               class="w-full px-4 py-2 bg-gray-800 text-gray-200 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-500" />
        <div *ngIf="commerceForm.get('email')?.invalid && (commerceForm.get('email')?.dirty || commerceForm.get('email')?.touched)" class="text-red-500 text-sm mt-1">
          <span *ngIf="commerceForm.get('email')?.errors?.['required']">{{ 'El correo electrónico del comercio no puede ser nulo o vacío' }}</span>
          <span *ngIf="commerceForm.get('email')?.errors?.['email']">{{ 'El correo electrónico del comercio no es válido' }}</span>
        </div>
      </div>
  
      <!-- Campo Contraseña -->
      <div class="mb-4">
        <label for="password" class="block text-gray-400 text-sm font-bold mb-2">Contraseña</label>
        <input id="password" formControlName="password" type="password" placeholder="Introduce la contraseña"
               class="w-full px-4 py-2 bg-gray-800 text-gray-200 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-500" />
        <div *ngIf="commerceForm.get('password')?.invalid && (commerceForm.get('password')?.dirty || commerceForm.get('password')?.touched)" class="text-red-500 text-sm mt-1">
          <span *ngIf="commerceForm.get('password')?.errors?.['required']">{{ 'La contraseña del comercio no puede ser nula o vacía' }}</span>
          <span *ngIf="commerceForm.get('password')?.errors?.['pattern']">{{ 'La contraseña del comercio debe incluir al menos una mayúscula, una minúscula, un número y no puede contener espacios en blanco' }}</span>
        </div>
      </div>
  
      <!-- Campo Ciudad -->
      <div class="mb-4">
        <label for="locationId" class="block text-gray-400 text-sm font-bold mb-2">Ciudad</label>
        <select id="locationId" formControlName="locationId"
                class="bg-gray-800 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-gray-500 focus:border-blue-500 block w-full p-2.5">
          <option value="" disabled selected>Seleccione una ciudad</option>
          <option *ngFor="let location of locationsList" [value]="location.id">{{ location.name }}</option>
        </select>
        <div *ngIf="commerceForm.get('locationId')?.invalid && (commerceForm.get('locationId')?.dirty || commerceForm.get('locationId')?.touched)" class="text-red-500 text-sm mt-1">
          {{ 'La ubicación del comercio no puede ser nula' }}
        </div>
      </div>
  
      <button type="submit" [ngClass]="{
        'bg-green-700 hover:bg-green-800': commerceForm.valid,
        'bg-gray-700 cursor-not-allowed': commerceForm.invalid
      }" class="text-white font-semibold py-2 px-4 rounded-lg w-full" [disabled]="commerceForm.invalid">
        {{ selectedCommerce ? 'Actualizar' : 'Añadir' }}
      </button>
    </form>
  </div>
  